* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.choosecaraousel-image-container {
    width: 100%;
    height: 85vh;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.choosecaraousel-image-preview {
    width: 30%;
    height: 30vh;
    border: 1px solid rgba(128, 128, 128, 0.499);
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.choosecaraousel-imagee-container {
    width: 100%;
    height: 27vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.selected-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: contain; /* Ensures the image fits within the container without distortion */
}
.selected-image.active {
    opacity: 1;
}


.choosecaraousel-image-name {
    width: 100%;
    height: 4vh;
    text-align: center;
    font-size: 18px;
    line-height: 4vh;
    border: 1px solid rgba(128, 128, 128, 0.499);
}

.uploaded-choosecaraousel-images {
    width: 100%;
    height: 55vh;

}



.choosecaraousel-image-box {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.menu-image {
    width: 14%; 
    height: auto;
    max-height: 30vh; 
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 10px 0 10px;
    object-fit: cover; 
}

::-webkit-scrollbar {
    display: none;
}

.menu-image:hover {
    opacity: 0.8;
}
.menu-image.selected {
    opacity: 0.5; 
}



